{% extends 'layout.html' %}
{% load custom_filters %}


{% block title %}
Search | Newsroom
{% endblock %}

{% block body %}

<div class='container-fluid bg-dark hero mb-5'>
    <div class='row h-100 align-items-center'>
        
            <div class='mx-auto text-center text-white'>
                <h1 class='display-4'><i class='fas fa-search mr-2'></i>Search results for "{{ request.GET.q }}"</h1>
            </div>
    </div>
</div>

<!-- Article List -->

<div class='container my-5' id='content-wrapper'>
 
<!-- Recent -->
<section id='recent'>

    <!-- Search Results -->
    <div class='row my-3'>
        <div class='col'>
            <div class="card-columns">

            {% for article in object_list %}
            <div class="card" style="width : 20rem">
                <a href="{{ article.get_absolute_url }}"><img class="card-img-top thumbnail" src="{{ article.image }}" alt="{{ article.title }}"></a>
        
                <div class="card-body">
                  
                 <div class='row'>
                     <div class='col'>
                         <div class='row'><h5 class="card-title"><a href='{{ article.get_absolute_url }}'>{{ article.title }}</a></h5></div>
                         <div class='row'><small>By {{ article.author }}</small></div>
                         <div class='row'><small>Posted On {{ article.timestamp }}</small></div>
                     </div>
            
            </div>   

                  <hr>
                 
                  <p class="card-text trunc-four-line">{{ article.body | plaintext | safe }}</p>
                  
                <div class='row'>
                    <div class='col d-flex justify-content-end'>
                        <a class='btn btn-outline-primary' href='{{ article.get_absolute_url }}'>Read More</a>
                    </div>                  
                </div>
                </div>

                <div class='card-footer'>
                <div class='row d-flex justify-content-end'>
                    <div class='col align-self-center'>Share This</div>
                    <div class='col align-self-center'>
                        <div class="btn-group" role="group" aria-label="Social toolbar">
                            <a type="button" class="btn btn-primary"><i class='fab fa-twitter'></i></a>
                            <a type="button" class="btn btn-primary"><i class='fab fa-facebook-f'></i></a>
                            <a type="button" class="btn btn-primary"><i class='fas fa-envelope'></i></a>
                            
                        </div>
                    </div>
                </div>
                </div>
            </div>
            {% empty %}
                </div>
                <p class='lead text-center'><i class='fas fa-question-circle'></i> Newsroom can't find any results matching that query.</p>

            {% endfor %}
              
            </div>  
        </div>
    </div>
</section>
</div>

{% endblock %}